html {
    height: 100%;
    background: linear-gradient(0deg,rgb(171, 212, 238),deepskyblue);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.txt {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 40px;
    text-indent: 1em;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.container .item {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.2);
    position: absolute;
    border-bottom-right-radius: 50px 10px;
    padding-top: 20px;
}

.container .item p{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container .item .close{
    position: absolute;
    right: 7px;
    top: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
}

.container .item .close::before{
    content: "X";
}